*{
	margin: 0 auto;
	padding: 0;
	color:white;
}

#bienvenida{
	background: #cc5200; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg , #cc5200 , #40bf80);
    height: 100%;   
}

#bienvenida img {
	-webkit-filter: invert(100%);
	width: 100%;	
}

.btn-idioma{
	border:none;
	color:white;
	margin-top: 10px;
}

.cont-portada{
	margin-top: 40px;
	margin-bottom: 20px;
}

.btn{
	border-color: white;
	background: none;
	width:100%;
}

.white{
	margin-top: 10px;
	margin-bottom: ;
}

a{
	color:white;
	font-weight: bold;
}

a:hover{
	color:white;
}

.input-user{
	opacity: 0.2;
}

.fa-facebook-square{
	width:40px;
}

form{
	margin-bottom: 15px;
}